/*########################################## GLOBAL ############################################*/
#main {
  transition: margin-left .5s;
  padding: 20px;
}

h1 {
    font-style: bold;
    font-size : 50px;
    font-family : arial;
    word-spacing: 1px;
    color : #804545;
    text-align : center;    
}

h2 {
    font-style: bold;
    font-size : 20px;
    font-family : arial;
    word-spacing: 1px;
    color : #804545;  
}

body {
    margin-left: 250px;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}

button {
  background-color: #67B26C;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}


/*########################################## INDEX.PHP ############################################*/

/*Tableau de conseils qui est a la page d'accueil et dans la partie mes compos*/
.conseils_table{
    margin-top: 30px;
    margin-bottom: 30px;
}

.conseils_table, .conseils_table tr, .conseils_table td,  .conseils_table th{
    text-align: left;
    border-width:1px; 
    border-style:solid; 
    border-color:black;
    text-align: center;
    font-family: Optima, sans-serif;
    border-radius: 10px;
}

#negatif_head{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #E55030 ;
    color: white;
}

#positif_head{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #7AEB56 ;
    color: white;
}

#conseil_head{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #7298EE ;
    color: white;
}

#negatif_head, #positif_head, #conseil_head{
    text-align: center;
}

.conseils_tab_img{
    width: 30px;
    height: auto;
}

.conseils_query_img{
    width: 15px;
    height: auto;
}

/*######################################## USERPROFIL.PHP ########################################*/

#user_img{
    width: 150px;
    height: auto;
}

input[id=newpseudo], input[id=new_mail], input[id=new_mdp], input[id=new_mdp2]{
    width: 50%;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 10px;
}

label {
    spadding: 12px 12px 12px 0;
    display: inline-block;
}

#edit_profile {
    width: 40%;
    border-radius: 10px;
    background-color: #B8B3D6;
    padding: 20px;
    text-align: center;
}

/*######################################## MESCOMPOS.PHP #######################################*/

#avatar_user{
    width: 100%;
    height: auto;
}

#profil_access_user{
    border-width:1px; 
    border-style:solid; 
    border-color:black;
    text-align: center;
    border-radius: 20px;
}

.edit_icons{    
    width: 50px;
    height: auto;
    margin-left: 20px;
}

.compos_champs{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

#new_comp{
    border-radius: 10px;
}

/*############################################  LISTE.PHP  #########################################*/

/*Dispose les div des champions sous formes de flex-boxs*/
#champs_container{
  display: flex;
  flex-wrap: wrap;
} 

.liste_champs_img{
    width: 150px;
    height: 100px;
    text-align: center;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 30px;
}

.liste_champs_img:hover{
    opacity: 1;
}

.champs_list_name:hover{
    box-shadow: black;
}

/*########################################### CHAMPSTATS.PHP  #####################################*/

.champions_infos_img{
    display: block;
    width: 90%;
    height: auto;
    margin-left: 5%;
    border-radius: 5px;
    box-sizing: content-box;
}

#img_td{
    width: 600px;
}

.left{
    width: 200px;
}

.champs_infos_table tr:nth-child(even){
    background-color: #f2f2f2;
}

.champs_infos_table tr:hover {
    background-color: #ddd;
}

.champs_infos_table td:not(#img_td) {
    font-family: Optima, sans-serif;
    border: 1px solid #ddd;
    padding: 8px;
}

/*######################################## ENREGISTRER.PHP #######################################*/

input[id=pseudo], input[id=mail], input[id=mail2], input[id=mdp], input[id=mdp2]{
    width: 100%;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 10px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

#form_inscription_div {
  border-radius: 10px;
  background-color: #B8B3D6;
  padding: 20px;
}

/*######################################### COMPOSELECT.PHP #######################################*/

#img_container{
    margin-left: 250px;
    width: 100%;
    position: center;
}

.select_img{
    width: 15%;
    height: 170px;
    border-radius: 5px;
}

.select-position {
    border: 1px solid #CCC;
    width: 15%;
    border-radius: 5px;
    position: relative;
}
.select-position select {
    padding: 5px 10px;
    width: 130%;
}


/*########################################## SIDENAV.PHP ########################################*/


.sidenav {
  height: 100%; 
  width: 250px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #222; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #887efe;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#identifiant, #mot_de_passe{
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #f1f1f1;
    font-style: sans-serif;
}

#navButton {
    margin: inherit;
    margin-left: -250px;
}

nav{
    width: 100%;
    position: center;
    border: black;
    border-radius: 10px;
    margin-left: 250px;
}

/*######################################## EDITSTATS.PHP #######################################*/
.edit_infos_img{
    width: 80px;
    height: auto;
}

/*Ajout d'une regex pour voir comment s'en servir (sélectionne les inputs qui ont une classe qui commence par 'edit' )*/
input[class^='edit']{
    width: 100px;
}

input[type="submit"]{
    background-color: #67B26C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 30px;
}

/*########################################### ADMIN.PHP  #####################################*/

.admins{
   font-family: Optima, sans-serif;
   font-size: 1.2em; 
}